<header class="header-wrapper">
  <div class="store-logo">
    <h1 class="store-logo__text">healthy <span class="store-logo__button">food</span></h1>
  </div>
  <ul class="store-menu">
    <li class="store-menu__item angle-down ">Продукты</li>
    <li class="store-menu__item">Нашим клиентам</li>
    <li class="store-menu__item">Доставка</li>
    <li class="store-menu__item">Оплата</li>
    <li class="store-menu__item">Отзывы</li>
    <li class="store-menu__item">Контакты</li>
  </ul>
  <cart-summary></cart-summary>
</header>
